
* {
    box-sizing: border-box;
    font-family: Catamaran, Arial, Helvetica, sans-serif;
}

header {
    overflow:hidden;
    padding: 0;
    text-align: right;
}

ul{
    font-size: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {

    display: inline-block;
    padding: 20px;
}


li:hover {
    background-color: chocolate;
    
}

h1 {
    position: relative;
    right: 0;
    top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.professionInPhoto {
    position: absolute;
    top: 100px;
    right: 50px;
    color:white;
    line-height: 1em;
    letter-spacing: 0.3em;
}

.profession {
    font-size: 3.5em;
    line-height: 1em; 
    letter-spacing: 4px; 
    word-spacing: 0.25em;
    float: left;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 60px;
    margin-bottom: 80px;
    
}

.notBold {
    font-size: 0.6em;
    font-weight: normal;
}

.profilePicture {
    float: left;     
    border-radius: 200px;
    position: relative;
    top:-50px;     
}

main {
    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40px;
}



h2 {
    font-size: 3.5em;
}

h3 {    
    font-size: 1.8em;
    font-weight: normal;    
}

p.projects {
    font-size: 1.2em;
    padding-right: 60%;   
}

#description {
    text-align: justify;
    font-size: 1.2em;    
    line-height: 1.5em; 
    margin-bottom: 100px;    
}

.address {   
    width: 30%;  
    float: left;     
    margin-right: 5%;
    padding-left: 30px;
    line-height: 0.5em;
    margin-bottom: 40px;    
}

#logoTaxonlab {
    position: relative;
    top: 0;
    left: -30px;
    
}

#downloadCV {
    font-size: 1.4em;
    font-weight: bold;
    
}

#email {
    font-size: 1.4em;
    text-decoration: underline;
    position: relative;
    top: 15px;
    
}

.moreLinks {
    text-align: left;
    word-spacing: 0.5em;
    font-size: 1.3em;
    margin-bottom: 15px;
    
}

#separator {
    font-weight: 500;
    font-size: 3em;
    position:relative;
    bottom: -15px;
}

.logoSocialMedia {
    margin-right: 20px;
}



.authorship {
    position: relative;
    bottom: 0;
    border-top: solid black 2px;  
    text-align: center;
    margin-bottom: 0;
    border-bottom: none;